<!DOCTYPE html>
<html>
    <head>
        <title> About</title>
        <link href="./image/eniks.jpg" rel="icon">
        <link href="./css/style.css" rel="stylesheet">
    </head>
    <body>
        <div>
        {{>header}}
        <img src="./image/IMG-20220916-WA0012.jpg">
        </div>
        {{>footer}}
    </body>
    <script src="./js/nicks.js"></script>
</html>